.branch {
    border-radius: 3px;
    background-color: #E7F0F9;
    color: #1564C2;
}

.default {
    
}

td.default span {
    
}

td.image {
    width: 20px !important;
    min-width: 20px !important;
}
td.image img {
    cursor: pointer;
    padding-right: 5px !important;
    padding-left: 2px !important;

}

th.image {
    width: 20px !important;
    min-width: 20px !important;
}
th.image img {
    cursor: pointer;
    padding-right: 5px !important;
    padding-left: 2px !important;

}

td {
    padding: 0 8px 0 8px;
}

td.conf {
    padding: 0 3px 0 3px;
}

td.conf {
    font-weight: bold;
}

td.conf span {
    display: inline;
    cursor: pointer;
}

td.conf span:hover {
    text-decoration: underline;
}

td.project {
    font-weight: bold;
}

td.project span {
    display: inline;
    cursor: pointer;
}

td.project span:hover {
    text-decoration: underline;
}

td.image {
    padding-right: 0 !important;
}
tr.project {
    background-color: #EBEDEF;
}